on: [push]

name: build

jobs:
  build:
    name: Roketo contract
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: sh build.sh
      - uses: actions/upload-artifact@v3
        with:
          name: roketo
          path: res/
